################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/User.Web/dist - Copy
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
